body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 90%;
  background: #fff;
}

.post {
  border: 2px solid black;
  background: #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.post .content {
  font-size: 220%;
}

.post .date {
  font-style: italic;
  font-size: 80%;
}

#menu {
  position: fixed;
  border: 2px solid black;
  padding: 10px;
  margin-left: 30px;
  list-style-type: none;
}

a, a:visited {
  color: #000;
  text-decoration: underscore;
}

a:hover {
  text-decoration: none;
}

#main {
  padding-left: 200px;
  padding-right: 200px;
}

h1 {
  color: #000;
  font-size: 140%;
}

