RewriteEngine on
# Fix the following line in the installer
RewriteBase /smob/

RewriteRule ^post/(.*)$ index.php?t=post&u=$1 [L,QSA]
RewriteRule ^user/(.*)$ index.php?t=user&u=$1 [L,QSA]
RewriteRule ^me$ index.php?t=user [L,QSA]
RewriteRule ^replies/(.*)$ index.php?t=replies&u=$1 [L,QSA]
RewriteRule ^resource/(.*)$ index.php?t=resource&u=$1 [L,QSA]
RewriteRule ^data/(.*)$ index.php?t=data&u=$1 [L,QSA]

RewriteRule ^following$ index.php?t=following [L,QSA]
RewriteRule ^followers$ index.php?t=followers [L,QSA]

RewriteRule ^ping/following/(.*)$ index.php?a=add&t=following&u=$1 [L,QSA]
RewriteRule ^ping/follower/(.*)$ index.php?a=add&t=follower&u=$1 [L,QSA]
RewriteRule ^ping/item/(.*)$ index.php?a=add&t=item&u=$1 [L,QSA]

RewriteRule ^sparql(.*)$ index.php?t=sparql [L,QSA]


